<ion-header>
	<ion-toolbar color="danger">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Donor Details</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-row>
		<ion-col size="12" size-lg>
			<ion-card *ngFor="let data of donarDetails">
				<ion-card-header>
					<ion-card-title>{{data.Emp_Name}}</ion-card-title>
					<ion-card-subtitle
						>{{data.Short_Designation_Name}}, {{data.Office_Name}}
					</ion-card-subtitle>
				</ion-card-header>

				<ion-card-content>
					<ul>
						<li>Blood Group : {{data.Blood_Group_Name}}</li>
						<li>Mobile Number : {{data.Emp_Mobile}}</li>
						<li>Office Name : {{data.Office_Name}}</li>
						<li>Short Designation Name : {{data.Short_Designation_Name}}</li>
					</ul>
					<br />
					<ion-button expand="full" color="danger">Call Now</ion-button>
				</ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>
</ion-content>
